
#container{

    height: 100vh;
    width: 100vw;
    position: relative;
    


/* background-attachment: fixed; */
}

#navbar{
    height: 16vh;
    width:100%;
    padding: 5px;
    /* margin-left: -15px; */
    
}
#image img{
    height: 50px;
    width: 85px;
    position: relative;
    top:16px;
}
#image{
    position: relative;
    left: 10px;
}
#Home{
    margin-left: 5px;
}
#Favourite{
    margin-left: 5px;
}
#navbar{
    background-color:crimson;
    position: fixed;
    margin-top: -10px;
}
#searchbox{
    position:absolute;
    right: 400px;
    top:40px;
    width: 500px;
}
 input[type="text"] {
    width:700px;
    height:30px;
    border: none;
    outline: none;
    font-size: 20px;
    border: 2px solid black;
    
}
#content{
    height:auto;
    width: inherit;
  
 display:flex; 
 justify-content: space-around;
    
    /* width:200px; */
    flex-wrap: wrap; 
    /* margin-left: 0; */
    padding-top: 110px;
    background-image: url('https://images.immediate.co.uk/production/volatile/sites/3/2019/04/Avengers-Endgame-Banner-2-de7cf60.jpg?quality=90&crop=93px,0px,1013px,675px&resize=980,654');
background-repeat: no-repeat;
background-size: cover;


    

}
.card{
    height: 25em;
    margin-bottom: 20px;
    border: 2px solid grey;
    margin-top: 10px;
    

}
.card img{
    height: 15em;
    width: 20em;
    margin: 10px 10px 10px 10px;

    

}
.character{
    color:white;
    margin-left: 10px;
    background-color: black;
    height: 6em;
    width: 20em;
    padding-bottom: 30px;
}
.red{
    color: red;
}
.white{
    color: white;
}
.modification{
    height: 20px;
    background-color: lightgrey;
    width: 8em;
    margin-left: 40px;
   

}
.text-center{
    text-align: center;
}
.card button:hover{
    background-color:grey;
    cursor: pointer;
}
.mg-left{
    margin-left: 100px;
}
.list-style{
    list-style: none;
    border-bottom: 1px solid black;
    margin-left: -39px;
    height: 25px;
}
#show-list{
    background-color:lavender;
    margin-top: -15px;
    width: 705px;
    position: relative;
    top:16px;
    /* overflow: scroll; */
    height: 200px;
    margin-top: -16px;
    display: none;
}

.favourite{
    position: absolute;
    right: 20px;


}
#showcharcterbyclick{
    height: 70vh;
    width: 150vh;
    position: absolute;
    top:100px;
    left: 300px;
    background-color: blueviolet;
    display: none;
}
.card1{
    height: 25em;
    margin-bottom: 20px;
    border: 2px solid grey;
    margin-top: 10px;
    display: flex;

    

}
.card1 img{
    height: 24em;
    width: 20em;
    margin: 10px 10px 10px 10px;

    

}
.character1{
    color:white;
    margin-left: 10px;
    background-color: black;
    height: 22em;
    width: 50em;
    padding-bottom: 30px;
    margin-top: 10px;
}
.mg-left1{
    margin-left: 320px;
}
.mg-top{
    margin-top:30px
}